PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-09-14 21:09:57.378035');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-09-14 21:09:57.493005');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-09-14 21:09:57.540005');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Movies object (1)',1,'[{"added": {}}]',7,1,'2024-09-14 21:15:25.182653');
INSERT INTO django_admin_log VALUES(2,'2','Movies object (2)',1,'[{"added": {}}]',7,1,'2024-09-14 21:19:06.060153');
INSERT INTO django_admin_log VALUES(3,'2','Movies object (2)',2,'[{"changed": {"fields": ["Poster"]}}]',7,1,'2024-09-19 21:22:41.526737');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$g2PqIrW7KzYrgaIT4GYq4z$51stz1d4b00x7SAJEMitTYMh/81KasJNGOgzHZJdfEI=','2024-09-30 01:36:39.826072',1,'IMDB','','',1,1,'2024-09-14 21:10:25.707782','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$600000$RodKiME3q2TYxglPTZrbIH$gkxEQLemv81IC1gPL6ciGr0wDlnD7y18zc4IGdHDRhY=','2024-09-30 13:54:53.490213',0,'farouk','','',0,1,'2024-09-19 23:06:38.992160','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$600000$qkTj5VKUZiTtFHgBDl173n$sush1L0y6SpHbwCgTHoHUlUEYDgrN5ZbKnj641A4jMg=','2024-09-27 19:04:39.438695',0,'jack','','',0,1,'2024-09-27 19:04:38.991828','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('11ipc4svbyq81kx2lza037x89nu6bii5','.eJxVjMsOwiAQRf-FtSEyPASX7vsNhBmmUjWQlHZl_HfbpAvd3nPOfYuY1qXEtfMcpyyuQonT74aJnlx3kB-p3pukVpd5Qrkr8qBdDi3z63a4fwcl9bLVxCH4oDEpR2AMeQM8AimPrA04BBssaBUQNZ0vaA0Ex2nEvIUKMovPF9rEOAQ:1spa2q:t29prc2m7ggfmE5DrN2eHVgZ0IN0bkRTwuVfnyhOTZU','2024-09-28 21:11:04.048188');
CREATE TABLE IF NOT EXISTS "movies_reviews" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "year_release_review" datetime NOT NULL, "feedback_stars" integer unsigned NOT NULL CHECK ("feedback_stars" >= 0), "review" varchar(5000) NOT NULL, "movie_id" bigint NOT NULL REFERENCES "movies_movies" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO movies_reviews VALUES(30,'2024-09-30 02:57:59.092847',4,'recomended',30,1);
INSERT INTO movies_reviews VALUES(31,'2024-09-30 03:00:30.777679',3,'nice!!',30,1);
INSERT INTO movies_reviews VALUES(32,'2024-09-30 03:00:58.563632',2,'fantastic',31,1);
CREATE TABLE IF NOT EXISTS "movies_movies" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(150) NOT NULL, "slug" varchar(50) NOT NULL, "description" varchar(1500) NOT NULL, "Director" varchar(150) NOT NULL, "Four_main_actors" varchar(250) NOT NULL, "year_release" datetime NOT NULL, "poster" varchar(100) NOT NULL);
INSERT INTO movies_movies VALUES(30,'Mufasa: The Lion King','Mufasa-The-Lion-King','Simba, having become king of the Pride Lands, is determined for his cub to follow in his paw prints while the origins of his late father Mufasa are explored.','Barry Jenkins','Aaron Pierre, 	Kelvin Harrison Jr., 	Seth Rogen,  Billy Eichner','2024-09-30 01:46:56.788643','mufasa_Rlm662h.jpg');
INSERT INTO movies_movies VALUES(31,'Venom: The Last Dance (2024)','Venom-The-Last-Dance','Eddie and Venom are on the run. Hunted by both of their worlds and with the net closing in, the duo are forced into a devastating decision that will bring the curtains down on Venom and Eddie''s last dance.','Kelly Marcel','Tom Hardy,Juno Temple,	Alanna Ubach,Rhys Ifans','2024-09-30 01:54:26.638433','Venom_The_Last_Dance_SX6Slwh.jpg');
INSERT INTO movies_movies VALUES(32,'Ballerina (2025)','Ballerina','A young female assassin seeks revenge against the people who killed her family.','Len Wiseman','Ana de Armas,Keanu Reeves,Catalina Sandino Moreno,Norman Reedus','2024-09-30 01:57:42.399011','Ballerina_2025.jpg');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',26);
INSERT INTO sqlite_sequence VALUES('django_admin_log',54);
INSERT INTO sqlite_sequence VALUES('django_content_type',8);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "movies_reviews_movie_id_641ae81a" ON "movies_reviews" ("movie_id");
CREATE INDEX "movies_reviews_user_id_ed406bf1" ON "movies_reviews" ("user_id");
CREATE INDEX "movies_movies_slug_cb561d85" ON "movies_movies" ("slug");
COMMIT;
