{% extends 'base_layout.html' %}
	{% block content %}
	<div class="create_review">
	    <h2>create review</h2>
		<form class="site-form" action="{% url 'movies:createReview'  movie.slug%}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form}}
    <div class="star-rating-create">
        <input type="radio" name="feedback_stars" value="5" id="5" />
        <label for="5">★</label>
        <input type="radio" name="feedback_stars" value="4" id="4" />
        <label for="4">★</label>
        <input type="radio" name="feedback_stars" value="3" id="3" />
        <label for="3">★</label>
        <input type="radio" name="feedback_stars" value="2" id="2" />
        <label for="2">★</label>
        <input type="radio" name="feedback_stars" value="1" id="1" />
        <label for="1">★</label>




    </div>

		<input type="submit"  value="createReview" onclick="href='{% url 'movies:moviesList' %}'">
		</form>
	</div>
	{% endblock %}